diagnosis_classifier_device: cuda:1
signal_processing_device: cuda:1
batch_size: 32
output_folder: path_to_output_folder
hugging_face_api_key_path: path_to_huggingface_api_key_file
output_file: name_of_output_file
signal_processing_model_name: name_of_signal_processing_model
diagnosis_classifier_model_name: name_of_diagnosis_classifier_model
data_path: path_to_data_csv


