diagnosis_classifier_device: cuda:0
signal_processing_device: cuda:0
batch_size: 32
output_folder: ./outputs
hugging_face_api_key_path: ./api_key.json
output_file: ecg_signals_analysis
signal_processing_model_name: efficientnetv2
diagnosis_classifier_model_name: bert_diagnosis2classification
data_path: ./inputs/data_rows.csv
mode: preprocessing
ecg_signals_path: ./ecg_signals
preprocessing_folder: ./preprocessing
preprocessing_n_workers: 16