diagnosis_classifier_device: cuda:0
signal_processing_device: cuda:0
batch_size: 32
output_folder: results
huggingface_api_key_path: api_key.json
output_file: metrics_bert_vs_gt2
signal_processing_model_name: efficientnetv2
diagnosis_classifier_model_name: bert_diagnosis2classification
data_path: /inputs/npy_data_validatedByMD.parquet


