torch==2.4.0 --extra-index-url https://download.pytorch.org/whl/cu118
huggingface_hub
transformers==4.35.0
safetensors
pandas
scikit-learn
pyarrow
fastparquet
tqdm
statsmodels
torchmetrics
git+https://github.com/HeartWise-AI/HeartWise_StatPlots.git
